<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig>
    <MessageEndpointMappings></MessageEndpointMappings>
  </UnicastBusConfig>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="CommandServer.WebServices.ThirdPartyWebSvc" behaviorConfiguration="Default">
        <!-- Uncomment the lines below to change to settings of the default serviceendpoint -->
        <endpoint address="" binding="basicHttpBinding" contract="NServiceBus.IWcfService`2[[CommandServer.Messages.Commands.ThirdPartyCmd, CommandServer.Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[CommandServer.Messages.Commands.ThirdPartyCmdResponse, CommandServer.Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12345/services/thirdpartysvc" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>