<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
  </configSections>
  <!-- Setting the logging threshold very high so we can see what's going on. -->
  <Logging Threshold="ERROR" />
  <!-- Standard declaration of our error queue. -->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <!-- Adjust this value to change the number of times a message is retried each round. -->
  <TransportConfig MaxRetries="5" />
  <!-- Adjust these values to increase how many rounds of second level retries are attempted
		 and how much time is taken between each round. -->
  <SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:10" NumberOfRetries="3" />
  <!-- This section specifies the message routing for the project. -->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="RetryService.Messages" Endpoint="RetryService" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>